In [1]:
import pandas as pd

In [6]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv('full_data.csv');
data.head(7)

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
0,1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,4.0
1,2,2012,1,Suicide,0,F,21.0,White,100,Street,3.0
2,3,2012,1,Suicide,0,M,60.0,White,100,Other specified,4.0
3,4,2012,2,Suicide,0,M,64.0,White,100,Home,4.0
4,5,2012,2,Suicide,0,M,31.0,White,100,Other specified,2.0
5,6,2012,2,Suicide,0,M,17.0,Native American/Native Alaskan,100,Home,1.0
6,7,2012,2,Undetermined,0,M,48.0,White,100,Home,2.0

In [39]:
d = data[(data.race == "Black") 
     & (data.age > 90)];
d.head(10)

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
7313,7314,2012,8,Suicide,0,M,91.0,Black,100,Home,1.0
10895,10896,2012,3,Suicide,0,M,92.0,Black,100,Other specified,1.0
12059,12060,2012,4,Homicide,0,F,95.0,Black,100,Home,4.0
16341,16342,2012,10,Homicide,0,M,92.0,Black,100,Home,2.0
18824,18825,2012,2,Suicide,0,M,102.0,Black,100,Home,4.0
27057,27058,2012,5,Suicide,0,M,93.0,Black,100,Home,1.0
28127,28128,2012,3,Suicide,0,M,91.0,Black,100,Home,1.0
28523,28524,2012,4,Suicide,0,M,95.0,Black,100,Home,1.0
31616,31617,2012,4,Homicide,0,M,99.0,Black,998,Home,5.0
34902,34903,2013,9,Homicide,0,M,107.0,Black,100,Home,1.0

In [40]:
d.intent.value_counts()

Suicide     13
Homicide     7
Name: intent, dtype: int64

In [43]:
data.max()

Unnamed: 0    100798.0
year            2014.0
month             12.0
police             1.0
age              107.0
hispanic         998.0
education          5.0
dtype: float64

In [53]:
data[data.age == data.age.max()].head()

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
34902,34903,2013,9,Homicide,0,M,107.0,Black,100,Home,1.0

In [62]:
data.groupby('race').count().year

race
Asian/Pacific Islander             1326
Black                             23296
Hispanic                           9022
Native American/Native Alaskan      917
White                             66237
Name: year, dtype: int64