# Homework 4 - Question 1

In [1]:
# Data manipulation
import pandas as pd
import numpy as np
import random

# Machine Learning
from sklearn.ensemble import RandomForestClassifier as rfc

# Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Importing

Imports the data by reading it from the csv file with pandas

In [2]:
df = pd.read_csv('CrowdstormingDataJuly1st.csv')
df.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

In [3]:
def info(dataframe):
    print("shape:",dataframe.shape)
    print("number of players:", len(dataframe['playerShort'].unique()))
    print(dataframe['playerShort'].value_counts()[:5])
    return dataframe[dataframe.playerShort=='djibril-cisse'].head()
info(df)

shape: (146028, 28)
number of players: 2053
djibril-cisse          202
john-arne-riise        197
javier-saviola         196
giorgios-karagounis    195
xavi                   188
Name: playerShort, dtype: int64

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
462,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,1,0,...,1.0,35,12,LBY,0.227627,19.0,0.019982,-0.111111,18.0,0.100631
668,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,1,1,...,1.0,64,32,CHE,0.345305,1886.0,0.000219,0.377193,1938.0,0.000823
866,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,5,2,...,1.0,66,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
1277,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,10,3,...,1.0,67,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
1673,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,1,1,...,1.0,72,28,IRL,0.355498,4078.0,0.000098,0.517225,4238.0,0.000405

## Cleaning

As our first task is to build a skin color predictor, we drop the players for which we do not know the skin color

In [4]:
def skinColor(row):
    return int(4*(row.rater1+row.rater2))

df_clean = df.copy()
df_clean = df_clean[df_clean['rater1'].notnull()]
df_clean = df_clean[df_clean['rater2'].notnull()]
df_clean['skinColor'] = df_clean.apply(skinColor,axis=1)
print(df_clean.groupby('playerShort').first()['skinColor'].value_counts())
print('median', df_clean.groupby('playerShort').first()['skinColor'].median())
df_clean[['rater1','rater2','skinColor']].head()

2    472
0    424
1    227
4    116
6    104
8     92
3     77
7     40
5     33
Name: skinColor, dtype: int64
median 2.0

   rater1  rater2  skinColor
0    0.25    0.50          3
1    0.75    0.75          6
5    0.25    0.00          1
6    0.00    0.25          1
7    1.00    1.00          8

In [5]:
info(df_clean)

shape: (124621, 29)
number of players: 1585
djibril-cisse          202
john-arne-riise        197
javier-saviola         196
giorgios-karagounis    195
xavi                   188
Name: playerShort, dtype: int64

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp,skinColor
462,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,1,0,...,35,12,LBY,0.227627,19.0,0.019982,-0.111111,18.0,0.100631,8
668,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,1,1,...,64,32,CHE,0.345305,1886.0,0.000219,0.377193,1938.0,0.000823,8
866,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,5,2,...,66,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,8
1277,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,10,3,...,67,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586,8
1673,djibril-cisse,Djibril Cissé,Queens Park Rangers,England,12.08.1981,183.0,78.0,Center Forward,1,1,...,72,28,IRL,0.355498,4078.0,0.000098,0.517225,4238.0,0.000405,8

In [6]:
df_clean.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp,skinColor
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696,3
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504,6
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,...,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,1
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,...,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,1
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,...,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,8

## Aggregate dataset for ML

In [7]:
def getDataset(features):
    df_grouped = df_clean.groupby('playerShort')
    df_grouped_first = df_grouped.first()
    df_players = df_grouped_first.copy()[[]]
    
    for feature in features:
        # This features are continuous but can have NaN values, which we set equal to 0
        if feature in ['height','weight']:
            df_players[feature]= df_grouped_first[feature].apply(lambda x : x if not np.isnan(x) else 0.)
        # These features are categorical so we change them into dummy variables
        if feature in ['club', 'leagueCountry', 'position']:
            df_players = df_players.merge(pd.get_dummies(df_grouped_first[feature]),left_index=True,right_index=True)
        # These features are continuous but not normalized 
        if feature in ['victories','ties','defeats','goals','yellowCards','yellowReds','redCards']:
            df_players['games'] = df_grouped.agg({ 'games': np.sum })
            df_players[feature] = df_grouped.agg({ feature: np.sum })
            df_players[feature+'_per_game'] = df_players.apply(lambda row: row[feature]/row['games'],axis=1) 
    
    df_players_label = df_grouped_first['skinColor'].apply(lambda x: x < 4.)

    return(df_players.values.tolist(),df_players_label.tolist())

## Random Forest

In [8]:
def split(X,Y, proportionTrain):
    permutation = np.random.permutation(len(X))
    n = int(proportionTrain*len(X))
    X_train = np.array(X)[permutation[:n]]
    Y_train = np.array(Y)[permutation[:n]]
    X_test = np.array(X)[permutation[n:]]
    Y_test = np.array(Y)[permutation[n:]]
    return (X_train,Y_train,X_test,Y_test)

def runPrediction(X_train,Y_train,X_test,Y_test,parameters):
    for parameter in parameters:
        print('parameter',parameter)
        clf = rfc(
            n_estimators=parameter
        )
        clf.fit(X_train,Y_train)

        train_score = clf.score(X_train,Y_train)
        test_score = clf.score(X_test,Y_test)
        
        print('train score:\t',train_score)
        print('test score:\t',test_score)
        print()
    
def main(features,parameters,proportionTrain):
    (X,Y) = getDataset(features)
    (X_train,Y_train,X_test,Y_test) = split(X,Y,proportionTrain)
    runPrediction(X_train,Y_train,X_test,Y_test,parameters)

In [9]:
main(
    ['height','weight','club','victories','ties','defeats','goals','yellowCards','yellowReds','redCards'],
    [1,10,100,1000,2000],
    0.8
)

parameter 1
train score:	 0.859621451104
test score:	 0.662460567823

parameter 10
train score:	 0.984227129338
test score:	 0.725552050473

parameter 100
train score:	 1.0
test score:	 0.760252365931

parameter 1000
train score:	 1.0
test score:	 0.757097791798

parameter 2000
train score:	 1.0
test score:	 0.753943217666